.mainbg {
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 1371px;
    position: absolute;
    z-index: -1;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.5); полупрозрачный белый цвет */
    background-color: red;
    z-index: -1;
    opacity: 0.5;
  }
  
  .card {
    max-width: 772px;
    position: relative; /* Для позиционирования псевдоэлемента относительно .card */
  }
  
  .desc {
    font-size: 16px;
    font-weight: normal;
    color: black;
  }
  
  .desc {
    font-weight: bold;
  }
  