.mainbg {
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 1371px;
    position: absolute;
    z-index: -1;
}
  
  .about__card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 23px;
    max-width: 772px;
  }
  
  .about__card__big {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 23px;
    max-width: 846px;
  }
  
  .desc {
    max-width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: white;
    text-align: left;
    padding: 10px;
  }
  
  .desc span{
    font-weight: bold;
  }

  @media (min-width: 992px) {
    .custom__margin {
      margin-left: -70px;
    }
  }
  
  @media (max-width: 991px) {
    .custom__margin {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  