:root {
    --bg-color: #000;
    --textColor: #fff;
    --orange: #F0966E;
    --dark-orange: #ED500A;
}

body {
    font-family: 'Bicubic', sans-serif;
    color: var(--textColor);
    background-color: var(--bg-color);
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 30px;
}