.header {
  gap: 80px;
}

.nav__link {
  font-size: 16px;
  font-weight: normal;
  color: white;
}

.nav__link:hover {
  color: var(--orange)!important;
}

.nav__link:active {
  color: var(--dark-orange) !important;
}
