.mainbg {
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 1371px;
    position: fixed;
    z-index: -1;
}

/* .polina__role {
    position: absolute;
    left: 680px;
    top: 310px;
    transform: translateX(-50%);
}

.nastya__role {
    position: absolute;
    right: 582px;
    top: 310px;
    transform: translateX(-50%);
} */

.contactButton {
    background: linear-gradient(to bottom, var(--orange), var(--dark-orange));
    box-shadow: inset 0px 0px 10px rgb(255,255,255);
    color: var(--textColor);
    border: none;
    padding: 25px 36px;
    transition: transform 0.5s ease, box-shadow 0.3s ease, opacity 0.3s ease, padding 1s ease; /* Добавлено свойство transition для плавного изменения размера кнопки */
}

.notion {
    font-size: 16px;
    max-width: 260px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

.notion span{
    font-weight: bold;
    color: var(--dark-orange);
}

.dancing {
    animation: dancing 1s ease infinite;
}

.contactButton:hover {
    background: linear-gradient(to bottom right, #FF783C, #DA4909);
}

.contactButton:active {
    background: linear-gradient(to bottom right, #FF7132, #C9460B);
}

@media (max-width: 768px) {
    .contactButton {
      width: 100%;
    }
}  
 
@keyframes dancing {
    0% {
        transform: translateY(0);
    }
 
    50% {
        transform: translateY(-10px);
    }
 
    100% {
        transform: translateY(0);
    }
}