.title {
    letter-spacing: 0.1em;
    font-size: 80px;
    color: var(--textColor);
}

.title2 {
    letter-spacing: 0.1em;
    font-size: 80px;
    color: var(--dark-orange);
}

@media (max-width: 767px) {
    .title {
        font-size: 20px;
    }

    .title2 {
        font-size: 40px;
    }
}

.hint {
    font-size: 0.7rem;
    width: 25vw;
}

@media (max-width: 767px) {
    .hint {
        font-size: 0.25rem;
    }
}

.button {
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s ease;
}

.dancing {
    animation: dancing 1s ease infinite;
}

@keyframes dancing {
    0% {
        transform: translateY(0);
    }
  
    50% {
        transform: translateY(-10px);
    }
  
    100% {
        transform: translateY(0);
    }
  }

@media (max-width: 768px) {
    .padding {
      margin-bottom: 20px;
    }
  }

@media (min-width: 768px) {
    .padding {
      margin-bottom: 150px;
    }
  }
  